# ==================================================
# Python
# ==================================================

__pycache__/
*.py[cod]
*$py.class


# ==================================================
# Virtual Environment
# ==================================================

venv/
.venv/


# ==================================================
# Django Local Database
# ==================================================

db.sqlite3
db.sqlite3-journal


# ==================================================
# Django Collected Static Files
# ==================================================

staticfiles/


# ==================================================
# User Uploaded Media
# ==================================================

media/


# ==================================================
# Environment Variables / Secrets
# ==================================================

.env
.env.*
!.env.example


# ==================================================
# VS Code
# ==================================================

.vscode/


# ==================================================
# Operating System Files
# ==================================================

.DS_Store
Thumbs.db


# ==================================================
# Logs
# ==================================================

*.log